html,
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

body,
textarea {
  font-family: "Noto Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

email-input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 3vw;
  textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    height: 30vh;
  }
}

verse-renderer {
  display: none;
  padding: 0 3vw;
  .links-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .chip {
      margin: 6px;
      padding: 6px 12px;
      border: 1px solid #333;
      color: #333;
      border-radius: 24px;
      text-decoration: none;
      &:hover {
        color: white;
        background: #333;
      }
    }
  }
  .version-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
  }
}